body {
    font-family: Arial;
    text-align: center;
    padding: 20px;
    background: #fff3f7;
}

h1 {
    color: #ff4f8b;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px #ccc;
}
button {
    background: #ff4f8b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
footer {
    margin-top: 20px;
    color: #444;
}